:root {
  --bg1: linear-gradient(
    90deg,
    rgba(6, 4, 33, 1) 66%,
    rgba(32, 50, 184, 0.9755252442773985) 1000%
  );
  --bg3: rgb(15, 13, 48);
  --bg4: linear-gradient(
    90deg,
    rgba(15, 13, 48, 1) -31%,
    rgba(34, 60, 219, 0.9755252442773985) 1000%
  );
  --c: rgb(219, 216, 216);
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: white;
  background: var(--bg1);
  background: var(--bg2);
}

body{
  background: var(--bg1);
  background: var(--bg2);
}

.header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 10px 13px 10px 10px;
  background: var(--bg3);
  background: var(--bg4);
  position: sticky;
  top: 0;
  z-index: 1000;
}

button:hover {
  cursor: pointer;
}

.logo {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-bar {
  display: none;
}

.menu ul {
  display: flex;
  align-items: center;
}

.menu ul li {
  margin: 0 17px;
  color: rgba(231, 223, 223, 0.918);
}

.menu ul li:hover {
  color: white;
  cursor: pointer;
}

.kids {
  color: gold;
}

.watch-later {
  font-size: 1.5rem;
  z-index: 150000;
}

.watch-number {
  margin: 5px 0 0 5px;
  position: absolute;
  font-size: 0.9rem;
  color: rgba(73, 70, 70, 0.918);
  font-weight: bolder;
}

.menu-suscribe,
.menu-log {
  display: none;
}

.search-suscribe-log {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.search {
  height: 5vh;
  width: 17vw;
  border: none;
  border-bottom: 1px solid white;
  padding-left: 10px;
  margin-right: 50px;
  background: transparent;
  color: white;
  outline: none;
}

.suscribe {
  background-color: #1f80e0;
  padding: 2px 10px 2px 10px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  margin-right: 10px;
}

@media screen and (max-width: 1150px) {
  .header {
    grid-template-columns: 1fr;
    padding-right: 15px;
  }

  .logo {
    justify-content: space-between;
  }

  .menu-bar {
    font-size: 1.6rem;
    display: block;
  }

  .menu {
    display: none;
    margin-top: 20px;
  }

  .suscribe,
  .log {
    display: none;
  }

  .menu-suscribe,
  .menu-log {
    display: block;
  }

  .menu ul {
    display: unset;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .menu ul li {
    margin: 20px 50px 5px 50px;
  }

  .search-suscribe-log {
    margin-top: 20px;
  }

  .search {
    width: 40vw;
    margin-top: 10px;
    font-size: 1rem;
    padding: 20px;
    border-radius: 4px;
    background-color: white;
    margin: auto;
    color: black;
  }
}

@media screen and (max-width: 850px) {
  .search {
    display: unset;
    width: 50vw;
  }

  .header {
    background: linear-gradient(
      90deg,
      rgba(6, 4, 33, 1) 66%,
      rgba(32, 50, 184, 0.9755252442773985) 1000%
    );
  }
}

@media screen and (max-width: 650px) {
  .search {
    width: 60vw;
  }
}

@media screen and (max-width: 500px) {
  .logo {
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 380px) {
  .menu-bar {
    margin-right: 0px;
  }

  .menu ul {
    grid-template-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    margin: auto;
  }

  .menu ul li {
    margin-left: 25px;
    margin-right: 0;
  }
}

@media screen and (max-width: 350px) {
  .search {
    width: 80vw;
  }
}

.main-slide-section {
  background: linear-gradient(
    90deg,
    rgba(6, 4, 33, 1) 66%,
    rgba(32, 50, 184, 0.9755252442773985) 1000%
  );
}

.main-slide {
  display: flex;
  width: 52%;
  margin: 0 0px 0 15px;
  align-items: center;
  height: 55vh;
}

.main-slide-content {
  padding: 0 40px 0 60px;
}

.main-slide-info {
  font-size: 1rem;
  margin-right: 100px;
}

.main-slide-description {
  color: gold;
  font-size: 0.9rem;
  margin: 10px 0 10px;
  letter-spacing: 1px;
}

.buttons {
  margin-top: 30px;
}

.play-btn,
.wishlist-btn {
  border: none;
  width: 10vw;
  height: 6vh;
  background-color: #1f80e0;
  font-size: 1rem;
}

.play-btn {
  margin-right: 15px;
}

.play-btn i,
.wishlist-btn i {
  margin-left: 10px;
}

.main-slide-img img {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 1400px) {
  .main-slide {
    width: 51%;
  }

  .main-slide-content {
    padding-right: 0;
  }
}

@media screen and (max-width: 1365px) {
  .main-slide {
    width: 49%;
  }
}

@media screen and (max-width: 1315px) {
  .main-slide {
    width: 47%;
  }
}

@media screen and (max-width: 1365px) {
  .main-slide {
    width: 46%;
  }
}

@media screen and (max-width: 1365px) {
  .main-slide {
    width: 44%;
  }
}

@media screen and (max-width: 1180px) {
  .main-slide {
    width: 42%;
  }
  .main-width {
    width: 43vw;
  }

  .main-slide-img img {
    width: 46vw;
  }
}

@media screen and (max-width: 1016px) {
  .main-slide-content {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.404);
    padding: 50px;
  }

  .main-slide-img img {
    width: 90vw;
    height: 90vh;
  }
  .main-slide-content {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.404);
    padding: 50px;
    width: 40vw;
  }
  .wishlist-btn {
    width: 14vw;
  }

}

@media screen and (max-width: 820px) {
  .main-slide-img img {
    width: 80vw;
  }

  .main-slide-content {
    width: 100vw;
  }
  .main-width{
    width: 80vw;
  }
}

@media screen and (max-width: 700px) {

  .main-slide-content {
    height: 100%;
  }

  .main-slide-img img {
    height: 90vh;
    width: 95vw;
  }

  .main-slide-container {
    height: 60vh;
  }

  .main-slide {
    width: 100vw;
  }

  .buttons i {
    margin: 0;
  }

  .buttons button {
    width: 5.5vw;
    border-radius: 100%;
  }

  .buttons span {
    display: none;
  }

  .main-slide-info {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 600px) {
  .main-slide-content {
    display: none;
  }

  .main-slide-img {
    display: none;
  }

  .s1 {
    background: url("image/avtar.jpg");
  }
  .s2 {
    background: url("image/wonderwoman.jpg");
  }

  .s3 {
    background: url("image/flash2.jpg");
  }

  .s4 {
    background: url("image/black-panther.jpg");
  }

  .s5 {
    background: url("image/riva2.jpg");
  }

  .main-slide {
    border-radius: 10px;
    width: 95vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (max-width: 523px) {
  .main-slide {
    width: 92vw;
    height: 50vh;
  }

  .main-slide-section {
    height: 52vh;
  }
}

@media screen and (max-width: 457px) {
  .main-slide {
    height: 40vh;
    width: 89vw;
  }

  .main-slide-section {
    height: 42vh;
  }
}

@media screen and (max-width: 400px) {
  .main-slide {
    margin-left: 15px;
    height: 30vh;
  }

  .main-slide-section {
    height: 32vh;
  }
}

@media screen and (max-width: 300px) {
  .main-slide {
    margin-left: 18px;
    height: 28vh;
    width: 87vw;
  }

  .main-slide-section {
    height: 30vh;
  }
}

/* recommended card img  */

.r1 {
  background: url("image/bg/rec/r1.jpg");
}

.r2 {
  background: url("image/bg/rec/r2.jpg");
}
.r3 {
  background: url("image/bg/rec/r3.jpg");
}

.r4 {
  background: url("image/bg/rec/r4.jpg");
}

.r5 {
  background: url("image/bg/rec/r5.jpg");
}

.r6 {
  background: url("image/bg/rec/r6.jpg");
}

.r7 {
  background: url("image/bg/rec/r7.jpg");
}

.r8 {
  background: url("image/bg/rec/r8.jpg");
}

.r9 {
  background: url("image/bg/rec/r9.jpg");
}

.r10 {
  background: url("image/bg/rec/r10.jpg");
}

/* tv card bg img */

.t1 {
  background: url("image/bg/tv/t1.jpg");
}

.t2 {
  background: url("image/bg/tv/t2.jpg");
}

.t3 {
  background: url("image/bg/tv/t3.jpg");
}

.t4 {
  background: url("image/bg/tv/t4.jpg");
}

.t5 {
  background: url("image/bg/tv/t5.jpg");
}

.t6 {
  background: url("image/bg/tv/t6.jpg");
}

.t7 {
  background: url("image/bg/tv/t7.jpg");
}

.t8 {
  background: url("image/bg/tv/t8.jpg");
}

.t9 {
  background: url("image/bg/tv/t9.jpg");
}

.t10 {
  background: url("image/bg/tv/t10.jpg");
}

/* movies img  */

.m1 {
  background: url("image/bg/movies/m1.jpg");
}

.m2 {
  background: url("image/bg/movies/m2.jpg");
}

.m3 {
  background: url("image/bg/movies/m3.jpg");
}

.m4 {
  background: url("image/bg/movies/m4.jpg");
}

.m5 {
  background: url("image/bg/movies/m5.jpg");
}

.m6 {
  background: url("image/bg/movies/m6.jpg");
}

.m7 {
  background: url("image/bg/movies/m7.jpg");
}

.m8 {
  background: url("image/bg/movies/m8.jpg");
}

.m9 {
  background: url("image/bg/movies/m9.jpg");
}

.m10 {
  background: url("image/bg/movies/m10.jpg");
}

.m11 {
  background: url("image/bg/movies/m11.jpg");
}

.m12 {
  background: url("image/bg/movies/m12.jpg");
}

.m13 {
  background: url("image/bg/movies/m13.jpg");
}

.m14 {
  background: url("image/bg/movies/m14.jpg");
}

.m15 {
  background: url("image/bg/movies/m15.jpg");
}

/* premium img */
.p1 {
  background: url("image/bg/premium/p1.jpg");
}

.p2 {
  background: url("image/bg/premium/p2.jpg");
}

.p3 {
  background: url("image/bg/premium/p3.jpg");
}

.p4 {
  background: url("image/bg/premium/p4.jpg");
}

.p5 {
  background: url("image/bg/premium/p5.jpg");
}

.p6 {
  background: url("image/bg/premium/p6.jpg");
}

.p7 {
  background: url("image/bg/premium/p7.jpg");
}

.p8 {
  background: url("image/bg/premium/p8.jpg");
}

.p9 {
  background: url("image/bg/premium/p9.jpg");
}

.p10 {
  background: url("image/bg/premium/p10.jpg");
}

.p11 {
  background: url("image/bg/premium/p11.jpg");
}

.p12 {
  background: url("image/bg/premium/p12.jpg");
}

.p13 {
  background: url("image/bg/premium/p13.jpg");
}

.p14 {
  background: url("image/bg/premium/p14.jpg");
}

.p15 {
  background: url("image/bg/premium/p15.jpg");
}

/* kid img */

.k1 {
  background: url("image/bg/kid/k1.jpg");
}

.k2 {
  background: url("image/bg/kid/k2.jpg");
}

.k3 {
  background: url("image/bg/kid/k3.jpg");
}

.k4 {
  background: url("image/bg/kid/k4.jpg");
}

.k5 {
  background: url("image/bg/kid/k5.jpg");
}

.k6 {
  background: url("image/bg/kid/k6.jpg");
}

.k7 {
  background: url("image/bg/kid/k7.jpg");
}

.k8 {
  background: url("image/bg/kid/k8.jpg");
}

.k9 {
  background: url("image/bg/kid/k9.jpg");
}

.k10 {
  background: url("image/bg/kid/k10.jpg");
}

.k11 {
  background: url("image/bg/kid/k11.jpg");
}

.k12 {
  background: url("image/bg/kid/k12.jpg");
}

.k13 {
  background: url("image/bg/kid/k13.jpg");
}

.k14 {
  background: url("image/bg/kid/k14.jpg");
}

.k15 {
  background: url("image/bg/kid/k15.jpg");
}

/* sports img */
.o1 {
  background: url("image/bg/sports/o1.jpg");
}

.o2 {
  background: url("image/bg/sports/o2.jpg");
}

.o3 {
  background: url("image/bg/sports/o3.jpg");
}

.o4 {
  background: url("image/bg/sports/o4.jpg");
}

.o5 {
  background: url("image/bg/sports/o5.jpg");
}

.o6 {
  background: url("image/bg/sports/o6.jpg");
}

.o7 {
  background: url("image/bg/sports/o7.jpg");
}

.o8 {
  background: url("image/bg/sports/o8.jpg");
}

.o9 {
  background: url("image/bg/sports/o9.jpg");
}

.o10 {
  background: url("image/bg/sports/o10.jpg");
}

.card-section {
  background: linear-gradient(
    90deg,
    rgb(5, 3, 43) 66%,
    rgba(23, 39, 155, 0.976) 1000%
  );
  padding: 40px 0 0 40px;
}

.card-section-heading {
  font-weight: 400;
  margin-bottom: 15px;
}

.card {
  z-index: 10000;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  width: 150px;
  height: 210px;
  padding: 100px 0px 0px 6px;
  cursor: pointer;
  transition: all 0.1s;
}

.card-content {
  display: none;
}

.card:hover .card-content {
  display: block;
}

.card:hover {
  box-shadow: 5px -100px 20px #140c47 inset;
  margin: 0 10px 0px 10px;
  transform: translate(00px);
}

.card-btn {
  font-size: 14px;
}

.card-btn .fa-play {
  margin-right: 15px;
}

.card .fa-play:hover,
.card .fa-plus:hover {
  color: rgb(24, 24, 228);
}

.same {
  margin: 5px 0 5px;
}

.timing {
  font-size: 10px;
  font-weight: 10000;
}

.same {
  font-weight: 200;
}

.lSpg {
  display: none;
  margin: 0;
}

.l1 {
  background-image: url("image/bg/L&T/1.jpg");
}

.l2 {
  background-image: url("image/bg/L&T/2.jpg");
}

.l3 {
  background-image: url("image/bg/L&T/3.jpg");
}

.l4 {
  background-image: url("image/bg/L&T/4.jpg");
}

.l5 {
  background-image: url("image/bg/L&T/5.jpg");
}

.l6 {
  background-image: url("image/bg/L&T/6.jpg");
}

.l7 {
  background-image: url("image/bg/L&T/7.jpg");
}

.l8 {
  background-image: url("image/bg/L&T/8.jpg");
}

.l9 {
  background-image: url("image/bg/L&T/9.jpg");
}

.l10 {
  background-image: url("image/bg/L&T/10.jpg");
}

@media screen and (max-width: 950px) {
  .card:hover {
    box-shadow: none;
  }

  .card {
    height: 180px;
    width: 130px;
  }

  .card:hover .card-content {
    display: none;
  }

  .card-section {
    padding-left: 10px;
  }
}

@media screen and (max-width: 500px) {
  .card {
    height: 140px;
    width: 100px;
  }

  .card-section {
    padding-left: 5px;
    padding: 15px 0 0 12px;
  }
}

@media screen and (max-width: 400px) {
  .card-section-heading {
    font-size: 1rem;
  }
}

@media screen and (max-width: 350px) {
  .card {
    height: 120px;
    width: 80px;
  }

  .card-section-heading {
    font-size: 0.8rem;
  }
}

#premium {
  background-color: #1f80e0;
  display: inline-block;
  padding: 0 10px 0 10px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 1rem;
}

.disney {
  height: 10vh;
  width: 10vw;
}

#kid {
  color: gold;
  font-weight: bold;
}

@media screen and (max-width: 500px) {
  #premium {
    font-size: 0.7rem;
    padding: 0 5px 0 5px;
  }
}

@media screen and (max-width: 700px) {
  .disney {
    height: 10vh;
    width: 13vw;
  }

  #kid {
    font-size: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .disney {
    height: 8vh;
    width: 13vw;
  }

  #kid {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 400px) {
  .disney {
    height: 7vh;
    width: 17vw;
  }
}

.footer {
  background: linear-gradient(
    90deg,
    rgba(6, 4, 33, 1) 66%,
    rgba(32, 50, 184, 0.9755252442773985) 1000%
  );
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  padding: 35px 20px 45px 40px;
}

.footer-content ul {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.footer-content ul li {
  color: var(--c);
  margin: 0 30px 0 0;
  font-size: 0.8rem;
  font-weight: 500;
}

.footer-content ul li:hover {
  color: white;
  cursor: pointer;
}

.footer-ss {
  display: flex;
  justify-content: center;
  float: right;
}

h5 {
  color: var(--c);
}

.footer-btn-con h5 {
  margin-bottom: 7px;
}

.cons {
  display: flex;
  justify-content: center;
  margin-top: 7px;
  line-height: 0;
}

.cons i {
  color: var(--c);
  margin-right: 8px;
  font-size: 1.5rem;
  background-color: rgb(24, 24, 80);
  padding: 5px 8px 5px 8px;
  border-radius: 4px;
}

.play-store,
.apple {
  padding: 4px 18px 0 18px;
  background-color: rgb(24, 24, 80);
  margin-right: 10px;
  border-radius: 5px;
}

.play-store h6,
.apple h6 {
  color: #9c9a9a;
  font-size: 0.5rem;
  font-weight: 600;
  margin-left: 20px;
}

.play-store img,
.apple img {
  height: 4vh;
  width: 7vw;
}

.footer-btn-con {
  float: right;
}

.foot-btn {
  display: flex;
}

.footer-content h6 {
  color: var(--c);
  font-weight: lighter;
  line-height: 2;
}

.apple:hover,
.play-store:hover {
  background-color: #1f80e0;
  cursor: pointer;
}


@media screen and (max-width:1125px){
  
  .footer{
    grid-template-columns: 1fr;
  }

  .footer-ss{
    margin-top: 20px;
    justify-content: flex-start;
  }

  .footer-btn-con{
    float: left;
    margin-top: 20px;
  }

  .foot-c h6{
    width: 600px;
  }

}
@media screen and (max-width:950px){
  .footer{
    padding-left: 15px;
  }
}
@media screen and (max-width:750px){
  .foot-c h6{
    width: 400px;
  }

.footer-content ul li {
    margin-top: 10px;
  }

  .play-store img,.apple img{
    width: 10vw;
  }
}

@media screen and (max-width:600px){
  .play-store img,.apple img{
    width: 15vw;
  }
}

@media screen and (max-width:500px){
  .foot-c h6{
    width: unset;
  }
}

@media screen and (max-width:430px){
  .play-store img,.apple img{
    width: 20vw;
  }
}

@media screen and (max-width:310px){
  .play-store img,.apple img{
    width: 25vw;
  }
}

